.dropdown-container {
	width: 100%;
	height: max-content;
	margin-bottom: 12px;
	.drop-down-header {
		align-items: center;
		margin-bottom: 2px;
		font-size: 14px;
		.fa-caret-right {
			margin: 2px 10px 0 5px;
			padding: 2px 7px;
			font-size: 17px;
			color: white;
			transition: 0.2s ease-in-out;
			&.open {
				transform: rotate(90deg);
			}
			&:hover {
				background-color: #446674;
			}
		}
		> i,
		span {
			cursor: pointer;
			border-radius: 7px;
		}
		.fa-plus {
			margin-left: auto;
			margin-right: 15px;
			padding: 4px 7px;
			&:hover {
				background-color: #446674;
			}
		}
	}
	.drop-item {
		padding: 4px 10px 4px 35px;
		transition: 0.2s ease;
		color: white;
		font-size: 14px;
		i {
			margin-right: 10px;
			font-size: 12px;
			&.online {
				background-color: #4dd74d;
				border-radius: 50%;
			}
		}
		&:hover {
			background-color: #0476b9;
			cursor: pointer;
		}
		&:first {
			margin-top: 12px;
		}
		&.selected {
			background-color: #0476b9;
		}
	}
}
