.main-view {
	grid-column: 2/3;
	grid-row: 2/3;
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 70px 80% 12%;
	overflow: hidden;
	&.side-nav-open {
		grid-template-columns: minmax(80px, 1fr) minmax(250px, 400px);
	}
	.messages-container {
		overflow-y: scroll;
		display: grid;
		align-items: end;
		grid-template-rows: 1fr;
		grid-row: 2/3;
		grid-column: 1;
	}
	.close-mobile {
		display: none;
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 3;
		left: 0;
	}
}

@media (max-width: 800px) {
	.main-view {
		grid-column: 1/2;
		.close-mobile {
			display: block;
			left: 260px;
		}
	}
}
