.channel-members-container {
    width: 100%;
    li{
        padding: 10px 0;
        .MuiAvatar-root {
			width: 30px;
            height: 30px;
            margin-right: 10px;
            border-radius: 5px;
		}
    }
	.btn-remove {
		width: 80px;
		height: 40px;
		border-radius: 5px;
        margin-left: auto;
		transition: .2s ease-in-out;
		cursor: not-allowed;
		&:hover{
			background-color: #ec524b;
			color: white;
			cursor: pointer;
		}
	}
}


