.input-box {
    display: flex;
    justify-content: center;
	input {
		width: 100%;
		height: 40px;
		border-radius: 5px;
		outline: none;
		border: 1px solid #e9dfdf;
		margin: 5px 0;
		padding: 10px;
		&:focus {
			border: 2px solid rgb(39, 164, 248); 
		}
	}
}
