.side-nav {
	grid-column: 1/2;
	grid-row: 2/3;
	background-color: #1a1e22;
	border-right: 1px solid #ffffff;
	color: white;
	overflow: scroll;
	.workspace-name {
		flex-basis: 7%;
		border-bottom: 1px solid #e2e2e2;
		align-items: center;
		text-align: center;
		justify-content: space-between;
		padding: 0 10px;
		font-family: Poppins-Bold;
		margin-bottom: 10px;
		i {
			font-size: 20px;
		}
	}
}

@media (max-width: 800px) {
	.side-nav {
		position: fixed;
		left: -260px;
		top: 33px;
		z-index: 100;
		height: 100%;
		width: 260px;
		transition: 0.3s ease;
	}
	.side-nav.open {
		left: 0;
	}
}
