.no-msg-container{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    i{
        font-size: 80px;
        margin-bottom: 15px;
    }
    p{
        padding: 0;
        margin:10px;
        font-size: 18px;
        text-align: center;
    }
}