* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 15px;
	font-family: Poppins;
	height: 100vh;
	width: 100vw;
}


input {
	border: none;
	font-family: Poppins;
	font-size: 14px;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #e9dfdf;
	margin: 5px 0;
	padding: 10px;
	&:focus {
		border: 2px solid rgb(39, 164, 248);
	}
}

label {
	font-size: 14px;
	color: black;
	font-family: Poppins;
}
p,
pre {
	color: black;
}
i {
	cursor: pointer;
}
button {
	outline: none;
	border: none;
	font-family: Poppins;
	cursor: pointer;
}
span {
	font-family: Poppins;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

i {
	display: flex;
	justify-content: center;
	align-items: center;
}
a {
	text-decoration: none;
}

*::placeholder{
	font-family: Poppins;
}

.MuiAvatar-img,
.MuiAvatar-root {
	z-index: 0 !important;
}
