@font-face {
	font-family: Poppins;
	src: url(../Assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
	font-family: Poppins-Bold;
	src: url(../Assets/fonts/Poppins/Poppins-SemiBold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Poppins-Light;
	src: url(../Assets/fonts/Poppins/Poppins-Light.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Pacifico;
	src: url(../Assets/fonts/Pacifico/Pacifico-Regular.ttf);
}
