.main-layout {
	display: grid;
	grid-template-columns: 250px minmax(300px, auto);
	grid-template-rows: 4% 96%;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

@media (max-width: 800px) {
	.main-layout {
		grid-template-columns: minmax(300px, 1fr);
	}
}
