.signup-page {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: grid;
	grid-template-columns: 30% 70%;
	.left-side {
		background-image: url(../../Assets/Images/login-bg1.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		align-items: flex-start;
		justify-content: center;
		position: relative;
		padding-left: 60px;
		.login-svg {
			width: 400px;
			height: 450px;
			position: absolute;
			bottom: 0;
			right: 70px;
		}
		.logo {
			font-size: 150px;
			text-align: center;
			font-family: Pacifico;
			color: white;
		}
		.info {
			padding: 30px 30px 30px 0;
			margin-bottom: 200px;
			h1 {
				color: white;
				font-size: 60px;
				font-family: 'Poppins-Bold';
				margin-bottom: 20px;
			}
			button {
				background-color: white;
				padding: 15px;
				border-radius: 5px;
				position: relative;
				transition: 0.2s ease;
				&::after {
					content: '\2192';
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					color: #2f2e41;
					transition: 0.2s ease;
					opacity: 0;
					right: 50px;
					margin-right: 10px;
					font-size: 20px;
				}
				&:hover {
					padding-right: 35px;
				}
				&:hover::after {
					opacity: 1;
					right: 0;
				}
			}
		}
	}
	.right-side {
		height: 100%;
		position: relative;
		transition: 0.4s ease-in-out;
		transform: translateY(0%);
		&.show-signup {
			transform: translateY(-51%);
		}
		.back-arrow {
			font-size: 40px;
			position: absolute;
			top: 100px;
			right: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #3f3d56;
			transition: 0.2s ease-in-out;
		}
		.toggle-forms-btn {
			width: 160px;
			height: 160px;
			border-radius: 50%;
			background: linear-gradient(to right, #f46b45, #eea849);
			position: absolute;
			bottom: 45%;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			flex-direction: column;
			align-items: center;
			z-index: 5;
			cursor: pointer;
			span {
				// padding-top: 20px;
				width: 100%;
				height: 50%;
				font-size: 22px;
				font-family: Pacifico;
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				&:last-of-type {
					padding-bottom: 10px;
				}
			}
		}
	}
}

@media (max-width: 760px) {
	.signup-page {
		grid-template-columns: 1fr;
		grid-template-rows: 50% 50%;
		overflow-y: scroll;
		.right-side{
			.back-arrow{
				display: none;
			}
		}
		.left-side {
			padding: 10px;
			.login-svg {
				display: none;
			}
			.info {
				padding: 10px;
				font-size: 14px;
				text-align: center;
				margin: 0 auto;
				h1 {
					font-size: 28px;
				}
				h2{
					font-size: 22px;
				}
			}
		}
	}
}

