.home-page {
	// background-color: #ffc107;
	color: black;
	font-size: 18px;
	height: 70px;
	display: grid;
	grid-template-columns: 5rem auto 5rem;
	.nav-links {
		padding: 10px 0;
		grid-column: 2/3;
		cursor: pointer;
		.logo {
			font-size: 22px;
			font-family: Pacifico;
		}
		li {
			margin-left: 15px;
			border-bottom: 1px solid transparent;
			transition: 0.2s ease;
		}
		li:hover:not(:last-child) {
			border-bottom: 1px solid black;
		}
		li:last-child {
			padding: 10px 20px;
			background-color: #6c63ff;
			box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
			border-radius: 5px;
			&:hover {
				color: white;
				text-decoration: none;
			}
		}
	}
	.hero {
		background-color: #6c63ff;
		grid-column: 1/4;
		display: flex;
		padding: 3rem 5rem;
		align-items: center;
		height: 90vh;
		img {
			flex-grow: 1;
			width: 50%;
			height: 70%;
		}
		.hero-txt {
			flex-grow: 1;
			color: white;
			& > * {
				margin-bottom: 20px;
			}
			h3 {
				font-size: 16px;
			}
			h5 {
				font-size: 45px;
			}
			p {
				color: #2f2e41;
				font-family: 18px;
			}
		}
		.hero-actions {
			.btn-start,
			.btn-member {
				margin-right: 5px;
				border-radius: 5px;
				color: white;
				outline: none;
				border: none;
				padding: 10px;
				background-color: transparent;
				border: 1px solid #2f2e41;
				filter: brightness(0.9);
				&:hover {
					filter: brightness(1);
				}
			}
			.btn-start {
				background-color: #2f2e41;
			}
		}
	}
	.parrot-info-cards {
		grid-column: 2/3;
		.card {
			display: grid;
			grid-template-columns: 40% 60%;
			grid-template-rows: auto;
			align-items: center;
			align-self: center;
			height: 200px;
			padding: 2rem;
			gap: 10px;
			margin-bottom: 30px;
			width: 80%;
			img {
				width: 80%;
				height: 180px;
				justify-self: center;
			}
			span {
				display: block;
				font-family: Poppins-Bold;
				font-size: 20px;
			}
			p {
				padding: 0 40px 0 10px;
			}
		}
	}
	.contact-us-wrapper {
		background-color: #6c63ff;
		grid-column: 1/4;
		height: 400px;
		display: grid;
		grid-template-columns: 5rem auto 5rem;
		.contact-us {
			grid-column: 2/3;
			width: 50%;
			justify-self: center;
			align-self: center;
			justify-items: center;
			h1 {
				letter-spacing: 1px;
				text-align: center;
				color: white;
				margin-bottom: 10px;
			}

			textarea {
				width: 100%;
				resize: none;
				overflow-y: scroll;
				outline: none;
				padding: 10px;
				border-radius: 5px;
			}
			button {
				padding: 10px;
				outline: none;
				border: none;
				color: white;
				background-color: transparent;
				border: 1px solid #2f2e41;
				border-radius: 5px;
			}
		}
	}
}

@media (max-width: 760px) {
	.home-page {
		grid-template-columns: 2rem auto 2rem;
		.hero img {
			display: none;
		}
		.nav-links {
			font-size: 11px;
		}
		.parrot-info-cards {
			width: 100%;
			margin-bottom: 50px;
			.card {
				grid-template-columns: 1fr;
				grid-template-rows: 100px 100px;
				margin-bottom: 30px;
				p {
					font-size: 10px;
					padding: 10px 5px;
					text-align: center;
				}
				img {
					height: 100px;
				}
			}
		}
		.contact-us {
			h1 {
				font-size: 10px;
			}
		}
	}
}
