.editor-wrapper {
	outline: none;
	position: relative;
	.editable-text {
		outline: none;
		padding: 4px;
		max-width: 100%;
		min-height: 60px;
		border-radius: 5px;
		border: 2px solid #bdc3c7a6;
		transition: 0.1s ease;
		&:empty:not(:focus)::before {
			content: (data-placeholder);
		}
		&:focus {
			border: 2px solid rgba(0, 0, 0, 0.5);
		}
		&:focus ~ .new-msg-actions > * {
			color: rgba(0, 0, 0, 0.6);
		}
	}
	.new-msg-actions {
		position: absolute;
		right: 0;
		bottom: 0;
		& > *:not(.reactions-wrapper) {
			padding: 10px;
			border-radius: 50%;
			background-color: white;
			margin: 0 5px 10px 0;
			font-size: 17px;
			color: rgba(0, 0, 0, 0.4);
		}
		& > *:hover {
			color: #0476b9;
		}
	}
}
