.popup-window {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 1000;
	animation: enter 1s forwards alternate;
	.close-modal-screen {
		position: absolute;
		background-color: #0000007d;
		height: 100%;
		width: 100%;
		z-index: 4;
	}
	.popup-box {
		position: absolute;
		width: 100%;
		max-height: var(--height);
		max-width: var(--width);
		background-color: white;
		border-radius: 10px;
		align-items: center;
		box-shadow: 6px 10px 15px -7px rgba(0, 0, 0, 0.75);
		z-index: 5;
		color: black;
		padding: 20px 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		header {
			width: 100%;
			margin-bottom: 10px;
			i {
				font-size: 20px;
				&:hover {
					color: grey;
				}
			}
		}
	}
}

@keyframes enter {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
