.msg-pop-nav {
	position: absolute;
	right: 10px;
	top: -20px;
	border-radius: 5px;
	border: 1px solid lightgray;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
	transition: 0.2s ease;
	background-color: white;
	i {
		display: grid;
		place-items: center;
		padding: 8px 9px;
		border-radius: 5px;
		font-weight: 400;
		font-size: 13px;
		color: rgba(0, 0, 0, 0.5);
		transition: 0.2s ease;
		&:hover {
			background-color: #8080800e;
		}
		&::before {
			transition: 0.2s ease;
		}
		&.pinned::before {
			color: orange;
			transform: rotate(45deg);
		}
	}
}
