.user-settings {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 1fr;
	width: 100%;
	height: 300px;
	gap: 10px;
	.user-data-inputs {
		grid-column: 1/2;
	}
	img {
		grid-column: 2/3;
		width: 100%;
		object-fit: cover;
		height: 65%;
		border-radius: 10px;
	}
}

.btn-save {
	position: absolute;
	left: 50%;
	bottom: 25px;
	width: 150px;
	padding: 10px;
	border-radius: 5px;
	transform: translateX(-50%);
	background-color: #2b9348;
  color: white;
  filter: brightness(0.8);
  transition: .3s ease;
  &:hover{
    filter: brightness(1);
  }
}
