.first-msg-container {
	border-bottom: 1px solid #e2e2e2;
	margin: 20px 0;
	padding: 12px;
	.info {
		.custom-avatar {
			width: 60px;
			height: 60px;
			border-radius: 5px;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		.channel-pic {
			width: 200px;
			margin-right: 10px;
			border-radius: 5px;
		}
	}
	.msg-txt {
		margin-top: 10px;
		font-size: 16px;
		span {
			background-color: #0000000d;
			color: #0476b9;
			padding: 0 2px 0 0;
			border-radius: 5px;
		}
	}
}
