.channel-bar {
	justify-content: space-between;
	grid-row: 1/2;
	border-bottom: 1px solid #e2e2e2;
	padding: 10px 0;
	.nav-toggle-btn {
		display: none;
		padding: 0 15px;
		font-size: 18px;
		margin-left: 5px;
		color: rgba(0, 0, 0, 0.365);
		transition: 0.2s ease;
		&:hover {
			color: rgba(0, 0, 0, 1);
		}
	}
	.left-side {
		flex-basis: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 15px;
		font-size: 12px;
		margin-top: 5px;
		span i {
			font-size: 13px;
			margin-left: 10px;
		}
		> :last-child {
			color: grey;
			transition: 0.2s ease-in-out;
			&:hover {
				color: rgb(39, 164, 248);
				cursor: pointer;
			}
		}
	}
	.right-side {
		flex-basis: 30%;
		justify-content: flex-end;
		align-items: center;
		padding: 10px;
		margin-right: 10px;
		max-width: 100px;
		> * {
			margin-left: 15px;
		}
		i {
			padding: 10px;
			border-radius: 10px;
			font-size: 15px;
			transition: 0.3s ease-in-out;
			&:hover {
				background-color: #8080801f;
			}
		}
		.members-avatars:hover {
			cursor: pointer;
		}
	}
	.MuiAvatarGroup-avatar {
		height: 35px;
		width: 35px;
		font-size: 14px;
		border-radius: 5px;
	}
}

@media (max-width: 800px) {
	.channel-bar {
		.nav-toggle-btn {
			display: flex;
		}
	}
}
