.msg-layout {
	display: grid;
	grid-template-columns: 50px minmax(300px, auto);
	grid-template-rows: 10% 90%;
	transition: 0.2s ease-in-out;
	cursor: pointer;
	position: relative;
	width: 96%;
	justify-self: center;

	.user-avatar {
		grid-row: 1/3;
		margin-top: 3px;
		justify-self: end;
		margin-right: 5px;
		.avatar {
			width: 40px;
			height: 38px;
			border-radius: 5px;
		}
	}
	.msg-body {
		grid-row: 1/3;
		font-size: 13px;
		.msg-details {
			margin-left: 2px;
			.user-name {
				font-size: 14px;
				font-family: Poppins-Bold;
				&:hover {
					text-decoration: underline;
				}
			}
			.msg-created {
				font-size: 11px;
				color: grey;
				margin-left: 5px;
			}
		}
		.msg-content {
			margin-left: 2px;
			font-size: 14px;
			font-family: Poppins-Light;
			overflow-wrap: break-word;
		}
		.msg-reaction-container {
			.reaction-item {
				padding: 0 5px;
				font-size: 14px;
				background-color: #f6f6f6;
				border-radius: 20px;
				align-items: center;
				border: 2px solid #f6f6f6;
				margin-right: 3px;
				&:hover {
					background-color: white;
				}
			}
			span:last-child {
				font-size: 12px;
			}
		}
		.replies-bar {
			max-width: 550px;
			border-radius: 5px;
			padding: 5px;
			border: 1px solid transparent;
			.custom-avatar {
				width: 27px;
				height: 27px;
				border-radius: 5px;
			}
			.fa-angle-right {
				display: none;
				margin-right: 10px;
			}
			&:hover {
				border-color: #ddd8d8;
			}
			&:hover .fa-angle-right {
				margin-left: auto;
				display: block;
			}
			.reply-title-head {
				font-size: 12px;
				padding: 0 5px;
				color: #0476b9;
				transition: 0.2s ease;
				&:hover {
					text-decoration: underline;
				}
				.on-hover {
					display: none;
				}
				& > * {
					color: black;
					text-decoration: none;
					font-size: 11px;
					margin-left: 5px;
				}
			}
			&:hover {
				.on-hover {
					display: inline;
				}
				.not-hovered {
					display: none;
				}
			}
		}
	}
	&:hover {
		background-color: #f4f4f429;
	}
}
